<div class="card">
  <div class="image-container">
  <img src="https://w7.pngwing.com/pngs/791/121/png-transparent-health-care-medicine-physician-patient-contract-research-organization-infirm-text-hospital-surgery.png" alt="">
</div>
  <div class="patient-data">
    <p>Patient Name: {{patient.firstName +" " + patient.lastName}}</p>
    <p>Age: {{patient.dob}}</p>
  </div>
  <div class="patient-data">
    <p>Email: {{patient.email}}</p>
    <p>Contact NO: 8383929102</p>
  </div>
  <div>
    <button class="view-profile-button">View Profile</button>
  </div>
</div>
