<app-shared-header role="UnAuthorized"></app-shared-header>
<div class="page-container">
<div class="logo-container">
    <img src="../../assets/svg/logo-no-background.svg" class="logo-image" alt="Logo">
</div>
<div class="message-container">
    <div class="message">
       <h1>Welcome to Argus Appointment Booking System.</h1>
    </div>

</div>
<div class="card-role-heading-container">
    <h2>Please Pick Your Role</h2>
</div>
<div class="card-container">
<app-shared-role-card class = "card" cardHeading="HospitalAdmin" src="../../assets/logo_hospital.jpg" altText="Hospital" cardContent="Select this if you are a Hospital Administrator" role="hospitaladmin" nextText="Continue"></app-shared-role-card>
<app-shared-role-card class = "card" cardHeading="Doctor" src="../../assets/logo_doctor.jpg" altText="Doctor" cardContent="Select this if you are a Hospital Doctor" role="doctor" nextText="Continue"></app-shared-role-card>
<app-shared-role-card class = "card" cardHeading="User" src="../../assets/logo_user.jpg" altText="User" cardContent="Select this if you are new to the page" role="user" nextText="Continue"></app-shared-role-card>
</div>
</div>
<!-- <app-shared-side-bar></app-shared-side-bar> -->
<app-shared-footer></app-shared-footer>
