<div class="filter-container">
  <button class="add-filter-button" (click)="showfields()">Add Filter</button>
  
  <div *ngIf="displayfields" class="fields-container">
    <div *ngFor="let field of fieldValues" class="field-container">
      <button class="field-name-button" (click)="showfieldValues(field.field)">{{ field.field }}</button>
      
      <div class="field-values-container">
        <div *ngFor="let value of field.values" class="field-value">
          <input id="{{ field.field }}_{{ value }}" type="checkbox" class="field-value-checkbox" (change)="handleSelection(field.field, value)">
          <label for="{{ field.field }}_{{ value }}" class="field-value-label">{{ value }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
