<div class="page-container">
    <!-- <div class="text-information-container"><div class="hospital-information"> -->
        <!-- <h2>Hospital Details</h2>
        <p>Hospital Name : {{hospitalData.hospitalName}} </p>
        <p>Hospital GHID NO: </p>
        <p>Hospital Contact No: {{hospitalData.user.contactNo}}</p>
        <p>Hospital Email No: {{hospitalData.user.email}}</p>
        <p>Hospital Address: {{hospitalData.hospitalAddress}}</p> -->
    <!-- </div> -->
    <div class="stastic-container">
      <h2>Appointment Data</h2>
       <div class="dashboard-card-container">
        <app-shared-dashboard-card *ngFor="let stat of appointmentStats | keyvalue" [title]="stat.key" [data]="stat.value"></app-shared-dashboard-card>
      </div>
    </div>
    <div class="charts-container">
      <p>This section Should contain the charts</p>
      <div class="chart-header">
        <span>Chart Type:</span>
        <select [(ngModel)]="chartType" (change)="handleChange(chartType)">
          <option value="dailyAppointmentCount">Weekly Appointment Details</option>
          <option value="appointmentByDepartment">Appointments By Specialization</option>

          <option value="appointmentShareByDoctor">Appointment Share by Each Doctor</option>
        </select>
      </div>
      <div class="chart">
        <app-shared-generic-chart *ngIf="showChart" [chartType]="chartType" [data]="data"></app-shared-generic-chart>
      </div>
    </div>

  </div>
