<div [formGroup]="form">
  <label class="form-label" [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input class="form-input" *ngSwitchCase="'textbox'" [formControlName]="question.key"
    [(ngModel)]="question.value"

            [id]="question.key" [type]="question.type">

    <select class="form-input" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="isInvalid" >

    <p *ngIf="form.controls[question.key].errors?.['required']">{{question.label}} is required and can not be empty</p>
  </div>
</div>
