.card>img{
    max-height: 25vh;
}

.card{
  background-color:   #F5F5F5;
  border-radius: 5px;
  padding: 5px;
}

.card img{
  width: 100%;
}
.card-title{
  font-size: larger;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}.card-body{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
  background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

